@media (max-width: 817px) {
  .helper-block {
    display: none;
  }
  .list-subfolders {
    width: 522px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Cards*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px; 
  justify-content: center;
  justify-items: center; 
  column-gap: 30px; 
  row-gap: 40px;
  margin: 0 auto;
}

.card {
  width: 225px;
  min-height: 530px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
  box-shadow: 4px 8px 16px rgba(51, 156, 255, 0.2);
}

.card_top {
  flex: 0 0 220px;
  position: relative;
  overflow: hidden; 
}

/* Контейнер для картинки */
.card_image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card_image > img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  transition: 0.2s;
}

/* При наведении - увеличиваем картинку */
.card_image:hover > img {
  transform: scale(1.1);
}

/* Размещаем скидку на товар относительно изображения */
.card_label {
  padding: 4px 8px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #0069ab;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
  padding: 10px;
}

.card_prices {
  display: flex;
  margin-bottom: 10px;
  flex: 0 0 25%; /* Размещаем цены равномерно в две колонки */
}

.card_price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card_price-discount {
  font-weight: 700;
  font-size: 19px;
  color: #414141;
  display: flex;
  flex-wrap: wrap-reverse;
}

.card_price-discount::before {
  content: "Со скидкой";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card_price-common {
  font-weight: 400;
  font-size: 17px;
  color: #606060;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

.card_price-common::before {
  content: "Обычная";
  font-weight: 400;
  font-size: 13px;
  color: #bfbfbf;
}

.card_title {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #414141;
}

.card_title:hover {
  color: #007bc8;
}

.card_add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #0069ab;
  padding: 10px;
  text-align: center;
  border: 1px solid #0069ab;
  border-radius: 4px;
  cursor: pointer; 
  transition: 0.2s;
  margin-top: auto;
}

.card__add:hover {
  border: 1px solid #007bc8;
  background-color: #007bc8;
  color: #fff;
}

/* Характеристики товара */
.catalog_item_description{
  font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #686b74;
    word-break: break-word;
    flex-grow: 1;
}