.left_menu_static {
  width: 255px;
}

.static_menu {
  display: flex;
  flex-direction: column;
  background-color: #83a8d83b;
  border-radius: 5px;
}

.static_menu_item_image {
  width: 20px;
  margin-left: -20px;
  filter: brightness(0) saturate(100%) invert(25%) sepia(37%) saturate(4524%) hue-rotate(185deg) brightness(93%)
    contrast(101%);
  vertical-align: -4px;
  margin-right: 5px;
}

.static_menu_item.active {
  background-color: #a0bbd2;
  border: 1px solid #333333;
  border-radius: 5px;
}

.static_menu a {
  text-decoration: none;
  color: #333;
  padding: 16px 16px 16px 40px;
}

.static_menu hr {
  width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  margin-top: -1px;
  margin-bottom: -1.3px;
}

.content_page_information {
  width: calc(100% - 255px);
  margin-left: 20px;
}

.about_us {
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

.about_us li {
  padding: 0 0 10px 40px;
  display: block;
  margin-bottom: 10px;
  list-style: none;
  background: url(../image/content/li.png) 0 0 no-repeat;
}
