.carousel {
  height: 800px;
  margin: 15px 0 15px 0;
}

.carousel img {
  max-width: 100%;
  height: 800px;
  box-sizing: border-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto !important;
  margin-right: auto !important;
}

.carousel h5 {
  font-size: 52px;
  color: #000000;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ffffff;
}

.carousel p {
  font-size: 32px;
  color: #000000;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ffffff;
}
